<!DOCTYPE html>

<html>
  <head>
    <title>Worksheet</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/random.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div id="container">
      {% for movie in movies %}
        <div class="photocontainer" style="background-image: url({{movie.cover}});">
          <div class="title">{{movie.name}}</div>
          <a id="button1" style="text-decoration:none" href="{{movie.imdb}} ">IMDb</a>

        </div>

      {% endfor %}
    </div>
    <div id="navigation">
      <a id="title" href="/main" style="text-decoration:none">MovieLand</a>
      <div id="navelements">
        <a class="navelement" href="/randomsecret" style="text-decoration:none">Movies</a>
        <a class="navelement" href="/aboutsecret" style="text-decoration:none">About</a>
        <a class="navelement" href="/seriessecret" style="text-decoration:none">Series</a>
      </div>
      <a id="loginButton" href="login" style="text-decoration:none">Login</a>
    </div>
    <script>
      const container = document.getElementById("container")
      let index = 0
      console.log(container)
      container.addEventListener("click", ()=>{
        index=(index+1) % container.childElementCount
        container.firstElementChild.style.marginLeft=-index*100+"%"
      })
    </script>
  </body>

</html>
